# Created by Alejandro Cortés Galán

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Java build output
target/
build/
*.class
*.jar
*.war
*.ear

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code
.vscode/

# Allow build folders inside source directories if needed
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/target/
!**/src/test/**/target/

# Other
HELP.md
